In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("../data/02_interim/airbnb_cleaned.csv")
data

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,1,45,40.64354,-73.97777,0,89,3,62,0.71,1,189
1,2,42,40.76116,-73.99016,1,120,2,17,0.43,1,0
2,2,29,40.70763,-74.01050,0,470,2,5,1.88,327,272
3,2,25,40.79658,-73.93287,0,199,2,30,0.80,1,30
4,1,83,40.70698,-73.95406,0,170,1,141,3.05,1,28
...,...,...,...,...,...,...,...,...,...,...,...
389,2,15,40.75024,-74.00213,0,175,4,3,1.11,1,15
390,2,42,40.75480,-73.99480,0,175,1,27,6.59,2,133
391,1,12,40.69061,-73.90815,2,42,2,5,0.67,1,0
392,2,78,40.77467,-73.95533,0,133,30,11,0.34,5,126
393,1,60,40.67475,-73.96385,0,100,6,5,0.07,1,0

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

X = data.drop(columns=["price"])
y = data["price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred)

print(f"mae: {mae:.3f}")
print(f"RMSE: {rmse:.3f}")

mae: 61.742
RMSE: 11932.858